$background-color: #cad3df;
$background-color-error: #f44336;
$background-color-success: #5ad66f;
$gradient-first-color: #19668d;
$gradient-second-color: #22ab93;
$text-color: #434344;

$transition-duration: 400ms;

* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }
}

html {
    height: 100%;
    background-color: $background-color;
}

body {
    margin: 40px auto;
    width: 620px;
    height: calc(100% - 40px * 2);
}

.header {
    margin-bottom: 27.5px;

    &__title {
        margin: 0;
        color: $text-color;
        text-align: center;
        font: 700 42px/47px Arial, sans-serif;
        user-select: none;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17.5px;
}

.card {
    $size: 130px;
    margin: 12.5px;
    width: $size;
    height: $size;
    cursor: pointer;
    perspective: 600px;

    &__rotating-container {
        position: relative;
        width: $size;
        height: $size;
        transition: transform $transition-duration;
        transform-style: preserve-3d;
    }

    &__front-side,
    &__back-side {
        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
        border: 5px solid #fff;
        border-radius: 9px;
        box-shadow: 1px 1px 5px rgba(#000, .5);
        backface-visibility: hidden;
    }

    &__front-side {
        z-index: 2;
        background-image: linear-gradient(45deg, $gradient-first-color, $gradient-second-color);
    }

    &__back-side {
        z-index: 1;
        background-color: #fff;
        text-align: center;
        font-size: 75px;
        line-height: $size - 5px * 2;
        transition: border-color $transition-duration, background-color $transition-duration;
        transform: rotateY(180deg);
        user-select: none;
    }

    &_show {
        cursor: auto;

        .card__rotating-container {
            transform: rotateY(180deg);
        }
    }

    &_error {
        .card__back-side {
            border-color: $background-color-error;
            background-color: $background-color-error;
            cursor: auto;
        }
    }

    &_success {
        .card__back-side {
            border-color: $background-color-success;
            background-color: $background-color-success;
            cursor: auto;
        }
    }
}

.timer {
    color: $text-color;
    text-align: center;
    font: 700 32px/36px Arial, sans-serif;
    user-select: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
    transition: background-color $transition-duration;

    &__window {
        padding: 30px;
        min-width: 350px;
        background-color: #fff;
    }

    &__title {
        margin-bottom: 40px;
        color: $text-color;
        text-align: center;
        font: 700 48px/48px Arial, sans-serif;
        user-select: none;
    }

    &__button {
        display: block;
        margin: 0 auto;
        padding: 10px 30px;
        border: none;
        border-radius: 9px;
        background-image: linear-gradient(90deg, $gradient-first-color, $gradient-second-color);
        box-shadow: 1px 1px 1px rgba(#000, .5);
        color: #fff;
        font: 400 20px/20px Arial, sans-serif;
        cursor: pointer;
        user-select: none;

        &:active {
            box-shadow: inset 2px 1px 8px rgba(#000, .5);
        }
    }
}

[hidden] {
    display: none;
}
